a {
    background-image: linear-gradient(
      to right,
      rgb(138, 106, 24),
      rgb(138, 106, 24) 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  a:before{
    content: '';
    background: rgb(138, 106, 24);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  a:hover {
   background-position: 0;
  }
  
  a:hover::before{
    width: 100%;
  }

.Login{
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;

}

.List{
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;

}

.navbar {
    background-color: #f1f1f1;
    position: fixed;
    width: 140%;
    padding: 0 60px;
    right: 0;
    transition: 1s ease;
    height: 75px;
    transition: 0.5;
    z-index: 9999; /* Set a high z-index value */
  }

  .image{
    scale: 1;
    transition: 2s;
  }
