.btnnn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: gray;
    border: 1px solid #b6a58b;
    outline: none;
    transition: 1s ease-in-out;
  }
  
  svg {
    position: absolute;
    left: 20%;
    top: 9.5%;
    fill: none;
    stroke: #fff;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
    z-index: 9999;
  }
  
  .btnnn:hover {
    transition: 1s ease-in-out;
    background: #9b8b72;
  }
  
  .btnnn:hover svg {
    stroke-dashoffset: -480;
  }
  
  .btnnn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }